<!DOCTYPE html>	
<html>
<head>
	<title>Resources</title>
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/resources.css">
</head>
<body>
	<div class = "navbar">
		<a href="index.html">HOME</a>
		<a href="announcements.html">ANNOUNCEMENTS</a>
		<a href="lectures.html">LECTURES</a>
		<a href="labs.html">LABS</a>
		<a href="evaluations.html">EVALUATIONS</a>
		<a href="resources.html">RESOURCES</a>
		<a href="feedback.html">FEEDBACK</a>
	</div>

	<div class = "main1">
		<section class="section1">
			<h1>Resources</h1>
		</section>
	</div>

	<div class = "main2">
		<section class="section2">
			<h1> Links </h1>
			<ul>
			<li><p><a href="index.html">Course Website</a>: Course information, lecture notes, tutorial material, important announcements, etc. will be posted on the course website. It is your responsibility to visit it frequently.</p></li>	
			<li><p><a href="http://code.tutsplus.com/tutorials/sql-for-beginners--net-8200"> MySQL</a>: A tutorial on MySQL for beginners.</p></li>
			<li><p>Email: Questions regarding the course material, assignments, midterm, etc. should be posed on the bulletin board. Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor at "bretscher@utsc.utoronto.ca".</p></li>
			<li><p><a href="https://piazza.com/utoronto.ca/winter2017/cscb20">Piazza</a>: You are encouraged to use the bulletin board to discuss the course material, pose questions on the assignments, etc. The bulletin board will be monitored by the instructor and by your TAs. Please, be very careful not to reveal (parts of) your solution on the bulletin board.</p></li>
			</ul>
		</section>

	</div>


	<div class = "main2">

		<section class="section2">
			<h1> Software & Documentation </h1>
			<ul>
			<li><font size = "5"> Logging into Mathlab </font> </li>
			<ol>
				<br>
				<li> <b> Mac OS </b>: Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing <i> ssh utorid@mathlab.utsc.utoronto.ca</i>. Enter your password.</li><br>
				<li> <b> Windows </b>: You will need a SSH client. PuTTY is a good free one. You can download and install here:  <a href="http://www.putty.org/">PuTTY</a>. Use same command as above to login to Mathlab <i>ssh utorid@mathlab.utsc.utoronto.ca</i>. </li>
			</ol>
			</ul>
		</section>	
	</div>
	
	<div class = "footer">
		<a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
		<p>Site design by Shruti Sood and Jeevika Baskaran</p>
	</div>
</body>
</html>