body {
  margin:0px;
  border:0px;
  padding:0px; 
  background-color: #E9E9E9;
}

.navbar {
  background-color: #003366;
  top: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
}
.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 21px 23px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: #DA4E35;
  font-size: 28px;
}

.navbar a:hover {
  color: #DA4E35;
  font-size: 22px;
}

.main1 {
  margin-top: 90px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.section1 {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

.section1 h1 {
  color: #127a8c;
  font-size: 40px;
  text-align: center;
}

.main2 {
  margin-top: 30px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.section2 {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

.section2 h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

.section2 p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
}

.section2 ul {
  list-style: none;
}

.section2 li p {
  font-size: 17px;
}

.main3 {
  margin-top: 30px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
}

.section3 {
  display: flex;
  flex-direction: column;
  width : 100%;
  border: solid;
  border-color: #C8C8C8;
  flex-wrap: nowrap;
}

.section3 h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
  margin-bottom: 0px;
}

.section3 p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
}

.section3 ul {
  list-style: none;
  padding-left: 15px;
}

.section3 p {
  font-size: 17px;
  margin-top: 0px;
}

.AnnaInfo {
  display: flex;
  order: 2;
  flex-grow: 1;
}

.main4 {
  margin-top: 30px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.section4 {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

iframe {
  width : -webkit-fill-available;
}

.section4 h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

.main5 {
  margin-top: 30px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.section5 {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: flex;
  flex-direction: column;
}

.section5 h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

#personbox {
  float:left;
  position: relative;
  margin : 23px;
}

.Img1 {
  border : solid;
  border-color: #858383;
}

.Img2 {
  border : solid;
  border-color: #858383;	
}

.Img3 {
  border : solid;
  border-color: #858383;
}

.Img4 {
  border : solid;
  border-color: #858383;	
}

.Img5 {
  border : solid;
  border-color: #858383;	
}

.Img6 {
  border : solid;
  border-color: #858383;	
}

h4 {
	text-align: center;
	font-size: 19px;
	margin-top: 2px;
}

.footer {
  background-color: #003366;
  overflow: hidden;
  min-height: 12vh;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family:'Poppins', sans-serif;
  text-align: center;
}

.footer a {
  color: #ACC6E2;
  padding-top: : 20px;
  text-decoration: none;
  font-size: 20px;
}

.footer a:hover {
  color: white;
}

.footer p {
  color: white;
  font-size: 20px;
}